.datatables_roles {
  border-collapse: collapse;
  width: 100%;
  min-width: 800px;
  th,
  td {
    border: 1px solid #dee2e6; // customize border color if needed
    padding: 0.75rem;
    text-align: left;
    vertical-align: middle;
  }

  th {
    background-color: #1a1d24;
  }
}
.datatables_container {
  width: 100%;
  overflow-x: auto;
}
.sortIcon {
  font-size: 1.1rem;
  margin-left: 0.5rem;
  vertical-align: middle;
  transition:
    transform 0.2s ease,
    color 0.2s ease;
  color: #6c757d; // default muted color

  &:hover {
    color: #0a58ca;
    transform: scale(1.2);
    cursor: pointer;
  }
}

.active {
  color: #0d6efd; // highlight active sort icon
}
