.tabContainer {
  background: #f8fafc;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
  .tabItem {
    margin-right: 8px;
    .tabLink {
      cursor: pointer;

      border-radius: 6px;
      transition: all 0.2s;
      display: flex;
      align-items: center;
      padding: 8px 16px;
    }
  }
}
.orderList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  max-width: 100%; /* optional: controls overall container width */
  margin: 0 auto; /* optional: centers the grid */
  gap: 1rem; /* gap between cards */
}
